<a class="button_link" href="/users/<%= user.id %>">
<div class="user-container">
  <div class="user-image">
    <img src="<%= user.photo %>" alt="User">
  </div>
  <div class="user-info">
    <h2 class="user-name"><%= user.name %></h2>
    <h4 class="post-counter">Number of posts: <%= user.post_counter %></h4>
  </div>
</div>
</a>

